<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Category</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/categories">Categories </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link"
						href="/product_manager_menu">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/account/login">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<h1>List Category</h1>

		</div>
		<br>
		<div class=row>
			<div class="col-lg-3">
				<a th:href="@{/categories/new}" class="btn btn-primary btn-sm mb-3">Add
					New Category</a>
			</div>
		</div>

		<table class="table table-striped table bordered">
			<thead class="table-dark">
				<tr>
					<th>Category ID</th>
					<th>CategoryName</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category: ${categories}">
					<td th:text="${category.category_id}"></td>
					<td th:text="${category.category_name}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>