<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Product Management System</h1>
		<hr>
		<h2>Add Product</h2>

		<form action="#" th:action="@{/productdetails/save}"
			th:object="${product}">
			<input type="text" th:field="*{product_name}"
				placeholder="Product Name" class="form-control mb-4 col-4" required>
			<input type="text" th:field="*{brand_name}" placeholder="Brand Name"
				class="form-control mb-4 col-4" required> <input type="text"
				th:field="*{category_name}" placeholder="Category Name"
				class="form-control mb-4 col-4" required> <input type="text"
				th:field="*{model_year}" placeholder="Model Year"
				class="form-control mb-4 col-4" required> <input
				type="number" step="any" th:field="*{list_price}" placeholder="List Price"
				class="form-control mb-4 col-4" required>

			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>

		<hr>

		<a th:href="@{/productdetails}"> Back to Product List</a>
	</div>

</body>
</html>