<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Menu Option</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
		<h1>Result</h1>
    <p th:text="'User_name: ' + ${account1.user_name}" />
    <p th:text="'Password: ' + ${account1.password}" />
	<p th:text="'Role: ' + ${account1.role_id}" />
</body>
</html>