<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>List All Products</h1>

		</div>
		<table class="table table-striped table bordered">
			<thead class="table-dark">
				<tr>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Brand Name</th>
					<th>Category Name</th>
					<th> Model Year</th>
					<th>Price</th>
					<th>Average Rating</th>
					<th>Total Review</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each= "product: ${products}">
					<td th:text="${product.product_id}"></td>
					<td th:text="${product.product_name}"></td>
					<td th:text="${product.brand_name}"></td>
					<td th:text="${product.category_name}"></td>
					<td th:text="${product.model_year}"></td>
					<td th:text="${product.list_price}"></td>
					<td th:text="${product.avg_rating}"></td>
					<td th:text="${product.total_review}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>