<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search product by brand</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/productdetails">Products Details </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link"
						href="/product_manager_menu">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/account/login">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<h1>Products Details</h1>

		</div>
		<script type="text/javascript">
			function clearSearch() {
				window.location = "[[@{/productdetails/search_by_brand}]]";
			}
		</script>
		<form th:action="@{/productdetails/search_by_brand/}">
			Enter brand name: <input type="text" name="brand" id="brand"
				size="50" th:value="${brand}" required /> &nbsp; <input
				type="submit" value="Search" /> &nbsp; <input type="button"
				value="Clear" id="btnClear" onclick="clearSearch()" />
		</form>
		<br>
		<table class="table table-striped table bordered">
			<thead class="table-dark">
				<tr>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Brand Name</th>
					<th>Category Name</th>
					<th>Model Year</th>
					<th>Price</th>
					<th>Average Rating</th>
					<th>Total Review</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="productdetails: ${productdetails}">
					<td th:text="${productdetails.product_id}"></td>
					<td th:text="${productdetails.product_name}"></td>
					<td th:text="${productdetails.brand_name}"></td>
					<td th:text="${productdetails.category_name}"></td>
					<td th:text="${productdetails.model_year}"></td>
					<td th:text="${productdetails.list_price}"></td>
					<td th:text="${productdetails.avg_rating}"></td>
					<td th:text="${productdetails.total_review}"></td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>