<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Customer Management System</h1>
		<hr>
		<h2>Update Customer Info</h2>

		<form action="#" th:action="@{'/customer/updating/'+${customer.customer_id}}"
			th:object="${customer}">
			<input type="text" th:field="*{first_name}"
				placeholder="First Name" class="form-control mb-4 col-4" required>
					<input type="text" th:field="*{last_name}"
				placeholder="Last Name" class="form-control mb-4 col-4" required>
				<input type="text" th:field="*{phone}"
				placeholder="Phone" class="form-control mb-4 col-4" required>
				<input type="email" th:field="*{email}"
				placeholder="Email" class="form-control mb-4 col-4" required>
				<input type="text" th:field="*{street}"
				placeholder="Street" class="form-control mb-4 col-4" required>
					<input type="text" th:field="*{city}"
				placeholder="City" class="form-control mb-4 col-4" required>
					<input type="text" th:field="*{user_name}"
				placeholder="User Name" class="form-control mb-4 col-4" required>
					<input type="password" th:field="*{pass_word}"
				placeholder="Password" class="form-control mb-4 col-4" required>
					<button type="submit" class="btn btn-info col-2">Save</button>
		</form>

		<hr>
	</div>

</body>
</html>